* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Font Popins */
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: rgb(4, 70, 176);
}
span {
  color: var(--primary);
  font-weight: bold;
}
/* Navbar */
.navbar {
  padding: 30px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
}
.navbar .navbar-logo {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
}
.navbar .navbar-logo span {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: var(--primary);
}
.navbar .navbar-tengah a {
  font-weight: bold;
  font-size: 20px;
  color: black;
  padding: 10px;
}

.beranda {
  padding: 30px 3%;
  height: 90vh;
}
.beranda .porfil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13%;
}
.beranda .porfil .teks p {
  font-size: 30px;
}
.beranda .porfil .teks {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
}
.beranda .porfil .teks h1 {
  font-size: 50px;
}
.beranda .porfil .nama {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beranda .porfil .teks .ikon {
  font-size: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Agar ikon berada di tengah */
  gap: 15px;
}

.ikon .fa-instagram {
  transition: 0.4s;
}
.ikon .fa-instagram:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: pointer;
}
.ikon .fa-github {
  transition: 0.4s;
}
.ikon .fa-tiktok {
  transition: 0.4s;
}
.ikon .fa-tiktok:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: pointer;
}
.ikon .fa-github:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: pointer;
}

.nama .typed-cursor {
  font-size: 50px; /* Sesuaikan dengan ukuran teks */
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.beranda .porfil img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin-right: 30px;
}

/* Tentang */
.tentang {
  height: 100vh; /* Mengisi seluruh tinggi layar */
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  align-items: center; /* Mengatur agar elemen berada di tengah secara horizontal */
  padding: 30px 3%;
}

.judultentang {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px; /* Menambah jarak antara judul dan konten utama */
}

.isitentang {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Membuat jarak antara gambar dan teks */
  gap: 50px; /* Menambah jarak antar elemen gambar dan teks */
}

.tentang img {
  width: 400px;
  height: 400px;
  border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
}

.tekstentang {
  text-align: justify;
  max-width: 1000px;
}
.tekstentang p {
  font-size: 25px;
}
.tekstentang h2 {
  font-size: 40px;
}
/* skil */
.skil {
  height: 100vh; /* Mengisi seluruh tinggi layar */
  padding: 30px 3%;
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
}
.judulskil {
  font-size: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos-slide img:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.logos-slide img {
  transition: 0.4s;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  padding-top: 50px;

  height: 140px;
  margin: 0 100px;
}

.swiper {
  margin-top: 50px;
  width: 50%;
  height: 24%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  align-items: center;
}
.quote .isiquote p {
  font-size: 30px;
  text-align: center;
}
#menu {
  display: none;
}
/* Projek */
.projek {
  height: 100vh; /* Mengisi seluruh tinggi layar */
  padding: 30px 5%;
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
}
.projek .judulprojek {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}
.projek .kontainerprojek {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
}
.projek .kontainerprojek img {
  max-width: 40%;
  height: 100%;
  max-width: 100%;
  object-fit: contain; /* Mempertahankan rasio aspek */
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}
.projek .kontainerprojek img:hover {
  transform: rotate(2deg); /* Gambar berputar 360 derajat */
}
.projek .kontainerprojek .teksprojek {
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.projek .kontainerprojek .teksprojek p {
  font-size: 20px;
}
.projek .kontainerprojek .teksprojek h1 {
  font-size: 50px;
}
#kebalikan{
  flex-direction: row-reverse;
}
.ikonsumber{
  display: flex;
  gap: 20px;
}
.ikonsumber i{
  font-size: 25px;
}
/* Responsiv */

/* Laptop Normal */
@media (max-width: 1440px) {
  #menu {
    display: none;
  }
  .beranda .porfil .teks h1 {
    font-size: 45px;
  }
  .beranda .porfil .teks p {
    font-size: 30px;
  }
  .beranda .porfil img {
    width: 380px;
    height: 380px;
    border-radius: 100%;
    margin-right: 30px;
  }
  /* Tentang */
  .tekstentang {
    text-align: justify;
    max-width: 800px;
  }
  .tentang img {
    width: 380px;
    height: 380px;
    border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
    object-fit: cover; /* Agar gambar tidak terdistorsi */
  }
  .tekstentang p {
    font-size: 23px;
  }
  .tekstentang h2 {
    font-size: 38px;
  }
  /* Quote */
  .quote .isiquote p {
    font-size: 28px;
    text-align: center;
  }
  .swiper {
    margin-top: 50px;
    width: 50%;
    height: 30%;
  }
  /* Projek */
  .projek .kontainerprojek img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  /* Navbar */
  .navbar .navbar-tengah a {
    display: none;
  }
  /* Beranda */
  .beranda .porfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13%;
    flex-direction: column;
  }
  .beranda .porfil .teks p {
    font-size: 25px;
  }
  .beranda .porfil .teks {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin-top: 10px;
  }
  .beranda .porfil .teks h1 {
    font-size: 40px;
  }
  .beranda .porfil .nama {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .beranda .porfil img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0;
  }
  .beranda .porfil .teks .ikon {
    font-size: 25px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Agar ikon berada di tengah */
    gap: 15px;
  }
  /* Tentang */
  .tentang {
    height: 100vh; /* Mengisi seluruh tinggi layar */
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
    align-items: center; /* Mengatur agar elemen berada di tengah secara horizontal */
    padding: 30px 3%;
  }

  .judultentang {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; /* Menambah jarak antara judul dan konten utama */
  }

  .isitentang {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .tentang img {
    width: 200px;
    height: 200px;
    border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
    object-fit: cover; /* Agar gambar tidak terdistorsi */
  }

  .tekstentang {
    text-align: justify;
    max-width: 315px;
  }
  .tekstentang p {
    font-size: 18px;
  }
  .tekstentang h2 {
    font-size: 20px;
    margin-top: 10px;
  }

  /* Skil */

  .judulskil {
    font-size: 40px;
    margin-top: 30px;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    padding: 0;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    content: "";
    z-index: 0;
  }
  .logos-slide img {
    height: 100px;
    margin: 0 20px;
    transition: none; /* Nonaktifkan transisi pada mobile */
  }
  .logos-slide img:hover {
    transform: none; /* Nonaktifkan efek membesar saat hover */
    cursor: pointer;
  }
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }

  .logos-slide img {
    height: 100px;
    margin: 0 20px;
  }

  .swiper {
    margin-top: 50px;
    width: 80%;
    height: 30%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quote {
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
    align-items: center;
  }
  .quote .isiquote p {
    font-size: 22px;
    text-align: center;
  }
  /* Projek */
  .projek {
    height: 100vh; /* Mengisi seluruh tinggi layar */
    padding: 30px 10%;
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  }
  .projek .judulprojek {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .projek .kontainerprojek {
    height: 40%;
    width: 100%;
    display: flex;
    padding: 0px;
    gap: 0px;
    flex-direction: column;
  }
  .projek .kontainerprojek img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain; /* Mempertahankan rasio aspek */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 20px;
  }
  .projek .kontainerprojek img:hover {
    transform: rotate(2deg); /* Gambar berputar 360 derajat */
  }
  .projek .kontainerprojek .teksprojek {
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .projek .kontainerprojek .teksprojek p {
    font-size: 18px;
  }
  .projek .kontainerprojek .teksprojek h1 {
    font-size: 30px;
  }
  #kebalikan{
    flex-direction: column;
  }
}
