* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* Font Popins */
body {
  font-family: "Poppins", sans-serif;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),
    auto;
}
:root {
  --primary: rgb(4, 70, 176);
}
span {
  color: var(--primary);
  font-weight: bold;
}
/* Navbar */
.navbar {
  padding: 30px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
}


.navbar .navbar-logo {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
}
.navbar .navbar-logo span {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: var(--primary);
}
.navbar .navbar-tengah a {
  font-weight: bold;
  font-size: 20px;
  color: black;
  padding: 10px;
}
#modegelap:hover{
  color: var(--primary);
}
#modeterang:hover{
  color: var(--primary);
}
.navbar .navbar-tengah a:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
  color: var(--primary);
}

.beranda {
  padding: 30px 3%;
  height: 90vh;
}
.beranda .porfil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13%;
}
.beranda .porfil .teks p {
  font-size: 30px;
}
.beranda .porfil .teks {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
}
.beranda .porfil .teks h1 {
  font-size: 50px;
}
.beranda .porfil .nama {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beranda .porfil .teks .ikon {
  font-size: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Agar ikon berada di tengah */
  gap: 15px;
}

.ikon .fa-instagram {
  transition: 0.4s;
}
.ikon .fa-instagram:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
}
.ikon .fa-github {
  transition: 0.4s;
}
.ikon .fa-tiktok {
  transition: 0.4s;
}
.ikon .fa-tiktok:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
}
.ikon .fa-github:hover {
  color: var(--primary);
  transform: scale(1.3);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
}

.nama .typed-cursor {
  font-size: 50px; /* Sesuaikan dengan ukuran teks */
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.beranda .porfil img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin-right: 30px;
}

/* Tentang */
.tentang {
  height: 100vh; /* Mengisi seluruh tinggi layar */
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  align-items: center; /* Mengatur agar elemen berada di tengah secara horizontal */
  padding: 30px 3%;
}

.judultentang {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px; /* Menambah jarak antara judul dan konten utama */
}

.isitentang {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Membuat jarak antara gambar dan teks */
  gap: 50px; /* Menambah jarak antar elemen gambar dan teks */
}

.tentang img {
  width: 400px;
  height: 400px;
  border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
  object-fit: cover; /* Agar gambar tidak terdistorsi */
}

.tekstentang {
  text-align: justify;
  max-width: 1000px;
}
.tekstentang p {
  font-size: 25px;
}
.tekstentang h2 {
  font-size: 40px;
}
/* skil */
.skil {
  height: 100vh; /* Mengisi seluruh tinggi layar */
  padding: 30px 3%;
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  margin-bottom: 100px; /* Memberikan jarak bawah */
}
.judulskil {
  font-size: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos-slide img:hover {
  transform: scale(1.3);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
}
.logos-slide img {
  transition: 0.4s;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  padding-top: 50px;

  height: 140px;
  margin: 0 100px;
}

.swiper {
  margin-top: 50px;
  width: 50%;
  height: 34%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
  align-items: center;
}
.quote .isiquote p {
  font-size: 30px;
  text-align: center;
}
#menu {
  display: none;
}
/* Projek */
.projek {
  height: 310vh;
  display: flex;
  flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
  /* justify-content: center; Mengatur agar elemen berada di tengah secara vertikal */
  /* align-items: center; Mengatur agar elemen berada di tengah secara horizontal */
  padding: 30px 4%;
}
.projek .kontainerkotak {
  display: grid;
  /* Spasi antar kotak */
  gap: 1rem;
  /* Template column */
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
}
.kotak {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 200px;
  gap: 50px;
}
.isikotak {
  display: flex;
  flex-direction: column;
}
.isikotak p {
  font-size: 24px;
  text-align: justify;
}
.isikotak h1 {
  font-size: 55px;
}
.kotak img {
  width: 40%;
  border-radius: 20px;
}
.projek .kontainerkotak .kotak img {
  transition: transform 1s ease;
}
.projek .kontainerkotak .kotak img:hover {
  transform: rotate(2deg); /* Gambar berputar 360 derajat */
}

#kebalikan {
  flex-direction: row-reverse;
}
.logolink {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.logolinkgit {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  text-decoration: none;
}
.logolinkgit {
  transition: 0.4s;
}
.logolinkweb {
  transition: 0.4s;
}
.logolinkgit:hover {
  color: var(--primary);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
  transform: scale(1.1);
}
.logolinkweb:hover {
  color: var(--primary);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    pointer;
  transform: scale(1.05);
}
.logolinkgit p {
  font-size: 18px;
}
.logolinkgit i {
  font-size: 28px;
}

.logolinkweb {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  text-decoration: none;
}
.logolinkweb p {
  font-size: 18px;
}
.logolinkweb i {
  font-size: 28px;
}

/* Dark Mode  */
body.styledarkmode {
  background-color: black;
  color: white;
}
.navbar.styledarkmode {
  color: white;
  background-color: black;
}
.navbar.styledarkmode a {
  color: white;
  background-color: black;
}
.logos.styledarkmode {
  background-color: black;
}

/* Khusus untuk elemen quote */
.styledarkmode .quote,
.styledarkmode .isiquote,
.styledarkmode .swiper-slide {
  background-color: rgba(0, 0, 0, 0.7); /* Warna hitam dengan transparansi */
  color: #ffffff;
}

.styledarkmode .swiper-slide {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Pastikan area swiper-slide juga hitam */
}


/* Khusus untuk ikon pada mode gelap */
.styledarkmode .logolinkgit,
.styledarkmode .logolinkweb {
  color: #ffffff;
}

.styledarkmode .logos:before {
  background: none;
}
.styledarkmode .logos:after {
  background: none;
}

/* Responsiv */

/* Laptop Normal */
@media (max-width: 1440px) {
  #menu {
    display: none;
  }
  .beranda .porfil .teks h1 {
    font-size: 45px;
  }
  .beranda .porfil .teks p {
    font-size: 30px;
  }
  .beranda .porfil img {
    width: 380px;
    height: 380px;
    border-radius: 100%;
    margin-right: 30px;
  }
  /* Tentang */
  .tekstentang {
    text-align: justify;
    max-width: 800px;
  }
  .tentang img {
    width: 380px;
    height: 380px;
    border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
    object-fit: cover; /* Agar gambar tidak terdistorsi */
  }
  .tekstentang p {
    font-size: 23px;
  }
  .tekstentang h2 {
    font-size: 38px;
  }
  /* Quote */
  .quote .isiquote p {
    font-size: 28px;
    text-align: center;
  }
  .swiper {
    margin-top: 50px;
    width: 50%;
    height: 30%;
  }
  .isikotak p {
    font-size: 20px;
    text-align: justify;
  }
  .isikotak h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  /* Navbar */
  .navbar .navbar-tengah a {
    display: none;
  }
  /* Beranda */
  .beranda .porfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13%;
    flex-direction: column;
  }
  .beranda .porfil .teks p {
    font-size: 25px;
  }
  .beranda .porfil .teks {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin-top: 10px;
  }
  .beranda .porfil .teks h1 {
    font-size: 40px;
  }
  .beranda .porfil .nama {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .beranda .porfil img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0;
  }
  .beranda .porfil .teks .ikon {
    font-size: 25px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Agar ikon berada di tengah */
    gap: 15px;
  }
  /* Tentang */
  .tentang {
    height: 100vh; /* Mengisi seluruh tinggi layar */
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
    align-items: center; /* Mengatur agar elemen berada di tengah secara horizontal */
    padding: 30px 3%;
  }

  .judultentang {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; /* Menambah jarak antara judul dan konten utama */
  }

  .isitentang {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .tentang img {
    width: 200px;
    height: 200px;
    border-radius: 20%; /* Mengubah gambar menjadi lingkaran */
    object-fit: cover; /* Agar gambar tidak terdistorsi */
  }

  .tekstentang {
    text-align: justify;
    max-width: 315px;
  }
  .tekstentang p {
    font-size: 18px;
  }
  .tekstentang h2 {
    font-size: 20px;
    margin-top: 10px;
  }

  /* Skil */
  .skil {
    margin-bottom: 0px;
  }
  .judulskil {
    font-size: 40px;
    margin-top: 30px;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    padding: 0;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    content: "";
    z-index: 0;
  }
  .logos-slide img {
    height: 100px;
    margin: 0 20px;
    transition: none; /* Nonaktifkan transisi pada mobile */
  }
  .logos-slide img:hover {
    transform: none; /* Nonaktifkan efek membesar saat hover */
    cursor: pointer;
  }
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }

  .logos-slide img {
    height: 100px;
    margin: 0 20px;
  }

  .swiper {
    margin-top: 50px;
    width: 80%;
    height: 40%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quote {
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    justify-content: center; /* Mengatur agar elemen berada di tengah secara vertikal */
    align-items: center;
  }
  .quote .isiquote p {
    font-size: 22px;
    text-align: center;
  }
  /* Projek */
  .projek {
    height: 310vh; /* Mengisi seluruh tinggi layar */
    display: flex;
    flex-direction: column; /* Mengatur elemen agar ditumpuk secara vertikal */
    /* justify-content: center; Mengatur agar elemen berada di tengah secara vertikal */
    /* align-items: center; Mengatur agar elemen berada di tengah secara horizontal */
    padding: 30px 10%;
  }
  .projek .kontainerkotak {
    display: flex;
    flex-direction: column;
  }
  .kotak {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .isikotak {
    display: flex;
  }
  .isikotak p {
    font-size: 18px;
    text-align: justify;
  }
  .isikotak h1 {
    font-size: 30px;
    text-align: justify;
  }
  .kotak img {
    width: 100%;
    margin: 0;
  }
  #kebalikan {
    flex-direction: column;
  }
}
